<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
    <link rel="stylesheet" href="Public/css/common.css"/>
    <link rel="stylesheet" href="Public/css/login.css"/>
    <style>
        .login_bg{
            background: #ffffff;
        }
        .login_btn{
            width: 80%;
            margin: 10%;
        }
        .other_login{
            top: 70%;
        }
        .other_choose{
            top: 80%;
        }
    </style>
</head>
<body>
<div class="login_bg">
    <div id="logo">
        <img src="Public/images/logo.png" alt=""/>
    </div>
    <a class="login_btn" href="index.php?c=login&a=login">登&nbsp;&nbsp;录</a>
    <a class="login_btn" href="index.php?c=login&a=register">新&nbsp;&nbsp;手&nbsp;&nbsp;注&nbsp;&nbsp;册</a>
    <div class="other_login">
        <br><br>
        <div class="other"></div>
        <span>其他方式登录</span>
        <div class="other"></div>
    </div>
    <div class="other_choose">
        <br>
        <a href="">
            <img src="Public/images/qq.png" alt=""/>
        </a>
        <a href="">
            <img src="Public/images/wx.png" alt=""/>
        </a>
        <a href="">
            <img src="Public/images/wb.png" alt=""/>
        </a>
    </div>
</div>
</body>
</html>