<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
        <ul class="am-list admin-sidebar-list">
            <li><a href="admin.php?c=index"><span class="am-icon-dashboard"></span> 控制台</a></li>
            <li><a href="admin.php?c=user"><span class="am-icon-user"></span> 用户管理</a></li>
            <li><a href="admin.php?c=plan"><span class="am-icon-reorder"></span> 计划管理</a></li>
            <li><a href="admin.php?c=earning"><span class="am-icon-rmb"></span> 收益管理</a></li>
            <li><a href="admin.php?c=message"><span class="am-icon-bell"></span> 通知公告</a></li>
            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-gear"></span> 系统模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav">
                    <li><a href="admin.php?c=setting" class="am-cf"><span class="am-icon-check"></span> 个人资料<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                    <li><a href="admin.php?c=setting&a=log"><span class="am-icon-calendar"></span> 系统日志</a></li>
                </ul>
            </li>
            <li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li>
        </ul>

    </div>
</div>