<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>学钱帮后台</title>
  <meta name="description" content="这是一个 table 页面">
  <meta name="keywords" content="table">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="Public/admin/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="Public/admin/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="Public/admin/css/amazeui.min.css"/>
  <link rel="stylesheet" href="Public/admin/css/admin.css">

</head>
<body>
<script src="/Public/js/jquery-3.2.1.min.js"></script>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，学钱帮 暂不支持。 请 <a href="" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<include file="Index/header"/>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <include file="Index/menu"/>
  <!-- sidebar end -->
  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户管理</strong> / <small>用户列表</small></div>
      </div>

      <hr>

      <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
          <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
              <button id="" type="button" class="am-btn am-btn-default" ><a href="admin.php?c=user&a=show" ><span class="am-icon-plus"></span> 新增</a></button>
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>
            </div>
          </div>
        </div>

        <div class="am-u-sm-12 am-u-md-3">
          <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
          </div>
        </div>
      </div>

      <div class="am-g">
        <div class="am-u-sm-12">
          <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
              <thead>
              <tr>
                <th class="table-check">
                  <input type="checkbox" />
                </th><th class="table-id">ID</th>
                <th class="">用户名</th>
                <th class="table-type">余额</th>
                <th class="table-author am-hide-sm-only">收益</th>
                <th class="table-author am-hide-sm-only">投入</th>
                <th class="table-author am-hide-sm-only" >计划数</th>


                <th class="table-author am-hide-sm-only">最近登录</th>
                <th class="table-date am-hide-sm-only">注册时间</th>
                <th class="table-set" >操作</th>
              </tr>
              </thead>
              <tbody>
              <volist name="user_list" id="user">
              <tr>
                <td><input type="checkbox" /></td>
                <td>{$user.u_id}</td>
                <td>{$user.username}</td>
                <td>{$user.money}</td>
                <td>{$user.money}</td>
                <td>{$user.money}</td>
                <td class="am-hide-sm-only">{$user.balance}</td>
                <td class="am-hide-sm-only">2014年9月4日</td>
                <td class="am-hide-sm-only">2014年9月4日</td>
                <td>
                  <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                      <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                      <!--<button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>-->
                      <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                    </div>
                  </div>
                </td>
              </tr>
              </volist>


              </tbody>
            </table>
            <div class="am-cf">
              共 15 条记录
              <div class="am-fr">
                <ul class="am-pagination">
                  <li class="am-disabled"><a href="#">«</a></li>
                  <li class="am-active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">»</a></li>
                </ul>
              </div>
            </div>
            <hr />
            <p>注：.....</p>
          </form>
        </div>

      </div>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>

  </div>
  <!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<include file="Index/footer"/>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="Public/admin/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="Public/admin/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="Public/admin/js/amazeui.min.js"></script>
<script src="Public/admin/js/app.js"></script>
</body>
</html>
